[submodule "backend"]
	path = backend
	url = https://github.com/DiegoGuzman1999/opticash-backend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/DiegoGuzman1999/opticash-frontend.git
	branch = main
